@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Source+Serif+4:ital,opsz,wght@1,8..60,300;1,8..60,400&family=Source+Serif+Pro:ital,wght@1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,200&display=swap');

:root {
    --color-background-cinzaClaro: #F7F7F7;
    --color-background-bottamServico: #A36538;
    --color-background-bottamServicoHover: #BE9373;
    --font-Source: 'Source Serif Pro', serif;
    --font-Source4: 'Source Serif 4', serif;
    --font-Garamond: 'EB Garamond', serif;
}

html, 
body {
    box-sizing: border-box;
    font-size: 16px; /* definir um tamanho de fonte padrão */
}
  
  *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* herdar box-sizing de html */
}
  
.logo-container {
    width: 100%;
    text-align: center;
}

.logo-container a img {
    width: 5em;
    height: 5em;
    padding: 1em;
}

.menu {
    width: 100%;
    padding: 1em;
    text-align: center;
    display: inline-block;
    font-family: var(--font-Source);
    font-size: 14px;
    background-color: var(--color-background-cinzaClaro);
}

.menu-list {
    list-style: none;
}

.menu-item {
    display: inline-block;
    margin: 0 10px;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.hero-section {
    width: 100%;
    text-align: center;
    font-family: var(--font-Source);
}

.hero-section__container {
    width: 100%;
    max-height: 60vh; /* Define a altura máxima da imagem */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hero-section__img {
    width: 100%;
    height: auto;
    transform: scale(1.2);
}

h1.hero-section__title {
    margin-top: 1em;
    width: 10em;
    font-family: var(--font-Source);
    font-weight: 400;
    font-size: 72px;
}

p.hero-section__descricao {
    font-size: 20px;
    font-family: var(--font-Source);
    padding: 0.5em 0 3em;
}

.servicos-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

.servicos-container__titulo {
  margin: 40px;
}

.servicos-container__titulo h2 {
  font-family: var(--font-Source4);
  font-weight: 400;
}
  
.titulo-centralizado {
  text-align: center;
}

.servicos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.servico {
  width: calc(33.33% - 23px);
  height: 650px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.servico-img {
  position: relative;
}

.servico img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(0,0,0,0.5); /* cor preta com opacidade de 50% */
  opacity: 0; /* começar com opacidade 0 para a camada de cobertura ficar invisível */
  transition: opacity 0.3s; /* animação de transição de opacidade */
  cursor: pointer;
}

.servico-img:hover .overlay {
  opacity: 1; /* aumentar a opacidade para 1 ao passar o mouse sobre a imagem */
}

.servico-detalhes {
  padding: 20px;
  font-family: var(--font-Source4);
  font-weight: 300;
}

.servico-titulo {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
  
.servico-titulo a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.servico-titulo a:hover {
  color: #ccc;
  transition: .2s;
}

.tempo-servico {
  margin: 15px 0;
}
  
.valor-servico {
  margin: 10px 0;
  font-size: 1rem;
  position: relative;
}

.botao-servico {
  display: block;
  position: absolute;
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  font-family: var(--font-Source4);
  font-size: .7rem;
  color: #fff;
  background-color: var(--color-background-bottamServico);
  border: none;
  bottom: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-servico:hover {
  background-color: var(--color-background-bottamServicoHover);
}

.horario-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.horario-container__atencimento h3, p{
  line-height: 2rem;
  font-family: var(--font-Source4);
  font-weight: 500;
}

.gallery {
  position: relative;
}

.gallery i {
  height: 46px;
  width: 46px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  line-height: 46px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% - 1273px);
}

.gallery i:first-child {
  left: 0;
}

.gallery i.fa-angle-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery i:first-child {
  right: -23px;
  z-index: 1;
}

.carousel {
  margin: 0 auto;
  height: 800px;
  column-count: 7;
  column-gap: 5px;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.carousel img {
  width: 100%;
  margin-bottom: 2px;
}

.carousel i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 1440px){
 

  .carousel {
    column-count: 4;
  }
}

@media (max-width: 1024px){
  
  .servico {
    height: 550px;
  }

  .carousel {
    column-count: 3;
  }
}

@media (max-width: 768px){

  .servico {
    height: 470px;
  }

  .carousel {
    column-count: 1;
  }

  .gallery  i {
    display: none;
  }
}

@media (max-width: 425px){
  .servico {
    width: 100%;
    height: 625px;
  }

}

@media (max-width: 375px){
  .servico {
    height: 570px;
  }
}

@media (max-width: 325px){
  .servico {
    height: 520px;
  }
}


